MONGO_URI=mongodb+srv://priyanshusrivastava318_db_user:Priyanshu8129@bharatfreelance.ddsfbjc.mongodb.net/BharatFreelanceDB?retryWrites=true&w=majority&appName=BharatFreelance
JWT_SECRET=ucraft_super_secret_jwt_key_2024
PORT=5000
CLOUDINARY_CLOUD_NAME=your_cloudinary_cloud_name
CLOUDINARY_API_KEY=your_cloudinary_api_key
CLOUDINARY_API_SECRET=your_cloudinary_api_secret
CLIENT_URL=http://localhost:5173
